ENV_NAME = "dev"

# SERVER
SERVER_IP = "0.0.0.0"
SERVER_PORT = 5000
BASE_DOMAIN = "*******************:5000"
BASE_URL = "http://*******************:5000"
PROXY_HOST = "localhost"
UVICORN_RELOAD = True
UVICORN_ENTRYPOINT = "xxxxxxxxxx.core.app:app"

# DATABASE
DATABASE_ECHO = False

# LOG
LOG_LEVEL = "DEBUG"

# NOTIFY
TELEGRAM_API_TOKEN = "xxxxxxxxxxxxxxxxxxxxxx"
TELEGRAM_CHAT_ID = "xxxxxxx"
